<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Sellnot.me is a marketplace where you can buy digital services, such as Netflix, Spotify, and YouTube Premium, at a fraction of the cost. We offer a variety of family plans, so you can share your subscription with friends and family and save even more money..</p>
      </div>
      <div class="col-lg-4">
        <p>What makes Sellnot.me different from other marketplaces is our commitment to privacy. We never collect or share any of your personal data, so you can shop with confidence knowing that your information is safe </p>
      </div>
    </div>
  </div>
</section>
