<section class="success" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
      <h3>What is SELLNOT.ME?</h3>
<p>SELLNOT.ME is a Privacy concerned Marketplace for buying digital products.</p>

<h3>What type of products are available?</h3>
<p>Currently we are selling YT Premium and Duolingo Super, but you can request for any product or service in our request section.</p>

<h3>Why there is no login page?</h3>
<p>We don't want you to log on us and share or store your private data.</p>
      </div>
      <div class="col-lg-4">
      <h3>How can I buy products?</h3>
<p>Via contacting us through telegram, email or phone.</p>

<h3>Why should I trust you?</h3>
<p>Your question should be how can you trust us? As we're providing low cost monthly products so we encourage you to chcek it out. I guess it is worth losing some money before trusting us big. FYI, we also provide product first pay later in certain circumstanes. Please reach us out.</p>

<h3>Is there any warranty for my purchased product or service?</h3>
<p>Yes, you will get uninterupted service for any account/product/service. If by any chance you lose access or anything happens to your account before ending your purchased time period, we will look for it.</p> 
      </div>
    </div>
  </div>
</section>
